{% extends 'base.html.twig' %}

{% block title %}Librairie Numerique!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        max-width: 800px;
        font: 18px/1.5 sans-serif;
    }
    ul li {
        list-style: none;
    }
</style>

<div class="example-wrapper container">
    <h1>Bienvenue dans notre library en ligne!</h1>
    <div class="mt-3">
        Que recherchez-vous?
        <div class="my-5">
            <ul>
                <li><a href="{{ path('comics_list') }}">Voir tous nos comics</a></li>
                <li><a href="{{ path('writer_list') }}">Voir tous nos auteurs</a></li>
                <li><a href="{{ path('designer_list') }}">Voir tous nos dessinateurs</a></li>
                <li><a href="{{ path('editor_list') }}">Voir tous nos editeurs</a></li>
                <li><a href="{{ path('licence_list') }}">Voir toutes nos licences</a></li>
                <li><a href="{{ path('image_list') }}">Voir toutes nos images</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}