{% extends 'admin/base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	<div class="container mt-3">
			<div class="my-3">
			<a href="{{ path('admin_main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
			<a href="{{ path('admin_user_list') }}" class="btn btn-outline-primary">
				Retour à la liste
			</a>
		</div>
		<div class="border p-5">
			<h1>{{ user.name }} {{ user.firstname }}</h1>
			<p>{{ user.email }}</p>
		</div>
	</div>

{% endblock %}