{% extends 'base.html.twig' %}

{% block title %}Comics!
{% endblock %}

{% block body %}

	<div class="container mt-5">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Writer</th>
					<th scope="col">Designer</th>
					<th scope="col">Licence</th>
					<th scope="col">Editor</th>
					<th scope="col">Year</th>
				</tr>
			</thead>
			<tbody>
				{% for comic in comics %}
					<tr>
						<td>
							<a href="{{ path('comic_show', { 'id' : comic.id }) }}">
								{{ comic.title }}
							</a>
						</td>
						<td>{{ comic.description }}</td>
						<td>{{ comic.writer.name }}</td>
						<td>{{ comic.designer.name }}</td>
						<td>{{ comic.licence.name }}</td>
						<td>{{ comic.editor.name }}</td>
						<td>{{ comic.year | date('d-m-Y') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
