{% extends (app.user is not null and app.user.roles[0] == 'ROLE_ADMIN') ? 'admin/base.html.twig' : 'base.html.twig' %}

{% block title %}Sign-up
{% endblock %}

{% block body %}

	<div class="container">
		<div class="my-3">
			{% if app.user is not null %}
				{% if app.user.roles[0] == 'ROLE_ADMIN' %}
					<a href="{{ path('admin_main') }}" class="btn btn-outline-primary">
						Accueil
					</a>
				{% else %}
					<a href="{{ path('main') }}" class="btn btn-outline-primary">
						Accueil
					</a>
				{% endif %}
			{% elseif app.user is null %}
				<a href="{{ path('main') }}" class="btn btn-outline-primary">
					Accueil
				</a>
			{% endif %}
		</div>

		{{ form_start(userForm) }}
		<div class="mb-3">
			{{ form_label(userForm.name, 'Name : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(userForm.name, {'attr' : {'class' : 'form-control'} } ) }}
		</div>

		<div class="mb-3">
			{{ form_label(userForm.firstname, 'Firstname : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(userForm.firstname, {'attr' : {'class' : 'form-control'} } ) }}
		</div>

		<div class="mb-3">
			{{ form_label(userForm.email, 'Email : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(userForm.email, {'attr' : { 'class' : 'form-control'} } ) }}
		</div>

		<div class="mb-3">
			{{ form_label(userForm.password, 'Password : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(userForm.password, {'attr' : { 'class' : 'form-control'} } ) }}
		</div>

		{{ form_widget(userForm.enregistrer, { 'attr' : {'class' : 'btn btn-outline-primary'} } ) }}

		{{ form_end(userForm) }}
	</div>

{% endblock %}
